*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}



/*systeme de tab css */

/* .link-tab--active {
    background: red;
    cursor: pointer;
}

.hidden {
    display: none;
} */