body {
    margin: 0;
    height: 8000px;
  }

.menu{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: papayawhip;
    transition: transform .2s ease-out;
}
.menu__liste {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu__el {
    margin: 0 10;
}

.menu__el a {
    display: inline-block;
    padding: 10px;
}

.hidden {
    transform: translateY(-100%);
}

